.blogNoticeContainer{
    width: 70%;
}

.blogHeader{
    text-align: center;
}

.noticeCategory{
    display: block;
    font-size: 14px;
    padding: 10px 0;

}

.noticeTitle{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #e41e25;
    font-size: 30px;
    text-decoration: none;
    margin: 0;
}

.noticeBy{
    font-size: 15px;
    font-style: italic;
    padding: 10px 0;
    display: block;
    color: #6c6c6c;
}

.noticeimageContainer{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.noticeimageContainer img{
    max-width: 100%;
    max-height: 100%;

}

.noticeContent{
    margin: 10px;
}

.noticeContent h2{
   color: #1062ae ; 
   font-weight: 500;
    text-align: center;
}

.noticeContent p{
    margin: 0 0 1.5em;
    padding: 0;
}

.noticeContent a{
    font-style: italic;
    color: #1062ae;
    text-decoration: none;
}
