.postimageWrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-position: center;
}

.fundationletra h2{
color: #1062ae ;
}

.fundationletra h3{
    color: #e41e25;
}
