.sidebarContainer{
    width: 27%;
}

.cardHeader{
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #1062ae ;
}

.profileimageContainer{
    width: 100%;  
    box-sizing: border-box;
}

.profileimageContainer img{
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
}

.personalBlo{
    font-size: 14px;
    color: #565673;
    font-weight: 300;    

}

.recentPost{
    padding: 20px 0;

}

.recentPost{
    padding: 1px solid #eee;
    margin-bottom: 10px;
}

.recentPost{
    border-bottom: 1px solid #eee ;
    margin-bottom: 10px;

}

.recentPost h3{
    color: #6c6c6c;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.recentPost span{
    font-size: 10px;
    font-weight: 400px;
    color: #6c6c6c;

}

@media (max-width: 700px){
    .cardHeader{
      height: auto;
      font-size: 7px;
    text-align: center;
    }
    .personalBlo{
        font-size: 10px;
        text-align: center;
        box-sizing: border-box;
        grid-template-columns: auto;
        
    }
  }